
.container-fluid{
    background-image: url("https://media.giphy.com/media/zgduo4kWRRDVK/giphy.gif");
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    border-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    position:center;

}


.header{
    padding: 10px;
    margin: 10px;
    background-color: #666666;
}


p{
      background-color:#ffffff;
      color: aqua;
      text-align: left;
      padding: 10px;
  }
  h2{
      background-color: #666666;
  }
  .att{
      background-color: #666666;
  }
  ul{
      background-color: #666666;
  }
  .col-3{
      background-color: #666666;
  }
  
  

footer{
 margin: 50px;
    position: fixed;
    padding-left: 100px;
    background-color:#666666;
}
@media screen and  (max-width: 900px) {
    .container-fluid{
        width: 100%;
    }
    p{
        width: 100%;
    }
   
}





