
body{
    background-color: #ffffff
    margin-left: 0px;
    margin-top: 0px;
    padding: 10px;
    border-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 10px;
    position: left;
    border-wigth: 960px;

}

h1{

}
}
    



  }
  h2 {
      background-color:#ffffff;
      color: aqua;
      text-align: left;
      padding: 10px;
  }
  .container{
      width: 960px;
      border-block-end-color: black;
      border-radius: 10px;
  }

footer
{

    margin: 50px;
    position: fixed;
    padding-left: 100px;
    background-color:#666666;
}
@media( max-width: 700px) {
    body{
    background-color: #ffffff
}





}